@font-face {
    font-family: yekan;
    src: url(../font/Yekan\ Bakh\ Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-family: yekan;
}

.hr {
    height: 3px;
    background-color: #aaaaaa78;
    width: 95%;
    margin: 0 auto 15px auto;
}

#header {
    width: 95%;
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: #7e57c2;
}

#icons {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

#products-number {
    width: 20px;
    height: 20px;
    background-color: rgb(213, 28, 28);
    color: #efefef;
    position: absolute;
    top: 38px;
    right: 3%;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    padding: 2px;
    padding-top: 6px;
    transform: scale(.7);
}

#user-basket {
    transition-duration: .4s;
    position: absolute;
    width: 70%;
    height: 400px;
    padding: 15px;
    overflow-y: scroll;
    background-color: #d4d4d4;
    box-shadow: 5px 5px 150px #aaa;
    top: -1000px;
    right: 3%;
    border-radius: 15px;
}

#user-basket-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 10px;
}

#circles {
    display: flex;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 4px;
}

#products-in-basket {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-item {
    width: 98.5%;
    height: 40px;
    background-color: #aaaaaa;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #aaa;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
}

#notification {
    position: absolute;
    height: 35px;
    width: 47%;
    padding: 3px 7px;
    top: -1000px;
    left: 10px;
    transition-duration: .4s;
    border-radius: 0 0 75px 0;
    color: #fff;
    font-size: 25px;
    word-spacing: 4px;
}

#main {
    width: 95%;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #ddd;
    box-shadow: 5px 5px 150px #aaa;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 5px;
    margin-bottom: 15px;
}

.product-icons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 20px;
}

